
/*Indice del libro*/

/*INDICE*/ 

#indice .units ul li a .title {
    font-size: 20px;
}

#indice .units ul li {
    padding: 0;
    border-radius: 0;
    border: 3px solid #3ac62a;
    background: transparent;
    padding: 10px 0px;
}

#list-units .unittag_santillanaportugalciencias {
    border-color: #85BC40 !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

#list-units .unittag_santillanaportugalmates {
    border-color: #0086C0 !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

#list-units .unittag_santillanaportugalportugues {
    border-color: #CA041A !important;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

#list-units .unittag_santillanaportugalciencias.active:not(.disabled), #list-units .unittag_santillanaportugalciencias:hover {
    background: #85BC40 !important;
    transform: scale(1.1);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
       margin: 15px 0px;
}

#list-units .unittag_santillanaportugalmates.active:not(.disabled), #list-units .unittag_santillanaportugalmates:hover {
    background: #0086C0 !important;
    transform: scale(1.1);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
        margin: 15px 0px;
}

#list-units .unittag_santillanaportugalportugues.active:not(.disabled), #list-units .unittag_santillanaportugalportugues:hover {
    background: #CA041A !important;
    transform: scale(1.1);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    margin: 15px 0px;
}

#indice .unit-content .header .title {
    background: #0000008c;
    height: fit-content;
    height: -moz-fit-content;
    padding: 9px;
    margin-left: -8px;
    padding-left: 35px;
}


/* General */

	body.content_type_clase_santillanapt {
		font-size: 1.8rem;
		font-family: "Source Sans Pro", sans-serif;
	}

	body.content_type_clase_santillanapt #actividad .content img {
		padding: 5px;
	}


	.is_app.content_type_clase_santillanapt {
		padding-top: 0px;
	}

	.content_type_clase_santillanapt #actividad {
		margin-bottom: 0px;
		-webkit-transform: none;
		-webkit-transform-style: flat;
	}

	#actividad .carousel-inner .item-container {
		background-image: none;
		margin: 20px auto 30px;
		padding: 0px;
		padding-bottom: 90px;
		position: relative;
	}

	.content_type_clase_santillanapt #actividad .slide-concatenate {
		margin-top: 30px;
	}

	.content_type_clase_santillanapt #actividad .content .header .title img,
	.content_type_clase_santillanapt #actividad .content .header .chapter {
		display: none;
	}

	#indice .units ul li a .number,
	#indice .unit-content .header .number
	 {
		visibility: hidden;
	}

	.content_type_clase_santillanapt #actividad .content .header {
		border: none;
		margin-bottom: 0;
	}

	.content_type_clase_santillanapt #actividad .content .header .title {
		margin: -40px 0 20px;
		padding: 24px 97px;
		background: rgb(68,145,58);
	background: -moz-linear-gradient(180deg, rgba(68,145,58,1) 0%, rgba(134,189,80,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(68,145,58,1) 0%, rgba(134,189,80,1) 100%);
	background: linear-gradient(180deg, rgba(68,145,58,1) 0%, rgba(134,189,80,1) 100%);
	}

	.content_type_clase_santillanapt #actividad .content .slide-concatenate .header .title {
		display: none;
	}

	.content_type_clase_santillanapt #actividad .content .header .title h3 {
		position: relative;
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		color: #fff;
		font-size: 1.4rem;
		font-weight: 200;
		text-align: right;
	}

	.content_type_clase_santillanapt #actividad .content .header .title h3 span {
		float: left;
		font-size: 26px;
		font-weight: 900;
		line-height: 1.1rem;
	}

	.content_type_clase_santillanapt #actividad .slide_content_type_1 .pregunta .texto_curso,
	.content_type_clase_santillanapt #actividad .texto_curso,
	.html-book {
		font-size: 1.8rem;
	}

	.texto_curso p:last-of-type {
		margin-bottom: 15px;
	}

	.content_type_clase_santillanapt #actividad .texto_curso li,
	.content_type_clase_santillanapt #actividad .workspace ul li li {
		margin-bottom: 10px;
	}

	#actividad .class_slide {
    	padding: 40px 0 0;
	}

	#actividad .class_slide:last-of-type {
	    padding-bottom: 0px;
	}

	#actividad .slide-concatenate .class_slide {
	    padding-bottom: 20px;
	}

	#actividad .slide-concatenate:last-of-type .class_slide {
	    padding-bottom: 100px;
	}

	.content_type_clase_santillanapt .slide_main {
		padding: 0 97px;
	}

	@media screen and (max-width: 480px) {
		.content_type_clase_santillanapt .slide_main {
			padding: 0 35px;
		}
	}

	.content_type_clase_santillanapt .slide_main input,
	.content_type_clase_santillanapt .slide_main .img-input-container {
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		        border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		     box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		-moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
		border-bottom: 2px solid #44913a;
	}


	.content_type_clase_santillanapt .slide_main input:focus,
	.content_type_clase_santillanapt .slide_main .img-input-container:focus {
		border-top-color: #3AC62A;
		border-right-color: #3AC62A;
		border-bottom-color: #3AC62A;
		border-left-color: #3AC62A;
		outline-width: 0px;
		outline-style: none;
		-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
		   -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
		        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
	}

	.content_type_clase_santillanapt .slide_main input[disabled],
	.content_type_clase_santillanapt .slide_main input[readonly],
	fieldset[disabled] .content_type_clase_santillanapt .slide_main input,
	.content_type_clase_santillanapt .slide_main .img-input-container {
		cursor: not-allowed;
		background-color: #eee;
		opacity: 1;
	}

	.content_type_clase_santillanapt .slide_main .img-input-container input[readonly],
	.content_type_clase_santillanapt .slide_main .img-input-container input[disabled] {
		opacity: 0;
		filter: alpha(opacity=0);
	}

	.content_type_clase_santillanapt .slide_main input.respuesta_ok,
	.content_type_clase_santillanapt .slide_main .img-input-container.respuesta_ok {
		border-color: #57e900;
		background: #D1F3BD;
	}

	.content_type_clase_santillanapt .slide_main input.respuesta_ko,
	.content_type_clase_santillanapt .slide_main .img-input-container.respuesta_ko {
		border-color: #FF3626;
		background: #FFA49D;
	}

	.content_type_clase_santillanapt .slide_main input.solucion,
	.content_type_clase_santillanapt .slide_main .img-input-container.solucion {
		border-color: #00BDFF;
		background: #B6ECFF;
	}

	.zoom_flag_img {
		top: 15px;
		right: 15px;
	}
/**/

/* Navbar */
	.navbar-bottom {
		background: #132E4C;
		padding-left: 100px;
		padding-right: 100px;
	}

	.logo-publisher {      
        display: inline-block;
        position: absolute;
        top: 6px;
        left: 21px;
        width: 178px;
        height: 30px;
        background-position: center center;
        background: url(/useruploads/r/a/146502376/activity_other_imported/logo-santillana_demoportugal_png.png);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
	}

	@media only screen and (max-width: 640px) {
		.navbar-bottom {
			padding-left: 40px;
			padding-right: 40px;
		}
	}

	.slider-indicators {
	    padding-left: 0px;
	    padding-right: 0px;
	    white-space: nowrap;
	}
	.edit .slider-indicators {
		white-space: normal;
	}
	.slider-indicators li,
	.edit .slider-indicators li {
		background-color: #ffffff;
	    color: #005840;
	}

	.slider-indicators .active,
	.edit .slider-indicators .active,
	.slider-indicators li:hover,
	.edit .slider-indicators .concat.active,
	.slider-indicators .active {
	    background-color: #007FA3;
	    color: #ffffff;
	}

	.edit .slider-indicators .concat.active:before {
 		background-color: #007FA3;
	}

	#bottom-navigator {
		overflow: hidden;
		position: relative;
	}
	#bottom-navigator .slider-indicators {
		margin-left: auto;
		margin-right: auto;
	}
	#bottom-navigator .slider-indicators:after {
		content: '';
		display: table;
		clear: both;
	}
	#bottom-navigator li {
		width: 18px;
		height: 18px;
		margin: 2px 5px;
		background: #fff;
		color: transparent;
		line-height: 2.2rem;
		font-size: 1.8rem;
		font-weight: bold;
		text-indent: initial;
	}
	#bottom-navigator li:hover {
		background: rgb(142, 206, 224);
		color: transparent;
	}
	#bottom-navigator li.active {
		background: #007FA3;
		color: transparent;
	}
	#bottom-navigator.show_left:before {
		content: '\F053';
		font-family: 'FontAwesome';
		position: absolute;
		left: 0;
		z-index: 100;
		color: #ffffff;
		top: 10px;
		height: 35px;
		line-height: 5.4rem;
		width: 20px;
		text-align: left;
		background: -webkit-gradient(linear, left top, right top, from(#132E4C), to(transparent));
		background: -webkit-linear-gradient(left, #132E4C, transparent);
		background: -moz-linear-gradient(left, #132E4C, transparent);
		background: -o-linear-gradient(left, #132E4C, transparent);
		background: linear-gradient(to right, #132E4C, transparent);
	}

	#bottom-navigator.show_right:after {
		content: '\F054';
		font-family: 'FontAwesome';
		position: absolute;
		right: 0;
		color: #ffffff;
		top: 10px;
		height: 35px;
		line-height: 5.4rem;
		width: 20px;
		text-align: right;
		background: -webkit-gradient(linear, right top, left top, from(#132E4C), to(transparent));
		background: -webkit-linear-gradient(right, #132E4C, transparent);
		background: -moz-linear-gradient(right, #132E4C, transparent);
		background: -o-linear-gradient(right, #132E4C, transparent);
		background: linear-gradient(to left, #132E4C, transparent);
	}

/**/

/*TITULOS 1 - 3 CAMBIA COLOR POR TAG*/
.bck-title1 {
    font-size: 35px;
    font-weight: 700;
    color: #44913a;
    margin: 20px 0;
}

.bck-title2 {
	display: block;
    color: #44913A;
    font-family: "Garamond", serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 20px 0;
}

.bck-title3 {
    font-size: 35px;
    border: 4px solid;
    border-color: #44913a;
    width: fit-content;
    width: -moz-fit-content;
    padding: 10px 20px;
    color: #44913a;
    margin: 20px 0;
}

.bck-title4 {
    background: #44913a;
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    margin: 20px 0;
}

.bck-title5 {
    font-size: 35px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    padding: 5px;
    text-align: center;
    border-color: #44913a;
    color: #44913a;
    margin: 20px 0;
}

/*CAJAS*/

.bck-box {
	margin: 20px 0px;
    padding: 10px 8px;
}

.bck-box .bck-content p:last-child {
	margin-bottom: 0;
}

.bck-box p:last-of-type {
    margin-bottom: 0;
}

/*Caja 1 */

.bck-box.bck-box1 {
	margin: 10px;
    border: 3px solid #44913A;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ffffffb0;
    padding: 10px 20px;
}



/* Caja 2 */
.bck-box.bck-box2 {
    padding: 0px;
    border: 0;
    border: 3px solid #44913A;
    margin-bottom: 24px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: left;
}

.bck-box.bck-box2 .bck-title {
    background: #44913A;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

.bck-box.bck-box2 .bck-content {
    padding: 10px 20px;
    background: white;
}


/*Caja 3 */

.bck-box.bck-box3 {
	margin: 10px;
    border: 3px solid #CA041A;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px 20px;
}

/* Listas */

.texto_curso ul li,
.workspace ul li ul li,
.cke_contents ul li {
	padding-left: 30px;
}



.content .bck-ol,
.cke_contents .bck-ol {
	list-style-type: none;
	padding-left: 0;
	counter-reset: bck-li-counter;
}

.content .bck-ol li,
.cke_contents .bck-ol li{
	list-style-type: none;
	padding-left: 43px;
	margin-bottom: 16px;
	counter-increment: bck-li-counter;
	position: relative;
	line-height: 1.1rem;
}

.content .bck-ol li:before,
    .cke_contents .bck-ol li:before {
        content: counter(bck-li-counter);
        position: absolute;
        top: -1px;
        left: -2px;
        display: block;
        width: 28px;
        height: 28px;
        color: #fff;
        font-size: 21px;
        font-weight: bold;
        text-align: center;
        -webkit-border-radius: 20%;
        -moz-border-radius: 20%;
        border-radius: 20%;
}


.content .bck-ol1 li:before,
.cke_contents .bck-ol1 li:before {
    background: #44913A;
}

/*LISTA ORDENADA 2 - Lista azul*/

.content .bck-ol2 li:before,
.cke_contents .bck-ol2 li:before {
    background: #338DBA;
}

/*LISTA ORDENADA 3 - Lista roja*/

.content .bck-ol3 li:before,
.cke_contents .bck-ol3 li:before {
    background: #DC4739;
}

/*LISTA ORDENADA 4 - Lista azul*/

.content .bck-ol4 li:before,
.cke_contents .bck-ol4 li:before {
    background: #5EBDC4;
}

/*LISTA ORDENADA 5 - Lista naranja*/

.content .bck-ol5 li:before,
.cke_contents .bck-ol5 li:before {
    background: #ED7E33;
}

/*LISTA ORDENADA 6 - Lista dorada*/

.content .bck-ol6 li:before,
.cke_contents .bck-ol6 li:before {
    background: #ECB700;
}

/*LISTA ORDENADA 7 - Cambia de color por tag*/

.content .bck-ol7 li:before,
.cke_contents .bck-ol7 li:before {
    content: counter(bck-li-counter, lower-alpha) ")";
    top: 0;
	left: -5px;
	width: 28px;
	height: 20px;
    background: none;
    color: #44913A;
    line-height: 2rem;
}

/*LISTA ORDENADA 8 - Lista abc rojo */

.content .bck-ol8 li:before,
.cke_contents .bck-ol8 li:before {
    content: counter(bck-li-counter, lower-alpha) ")";
    top: 0;
	left: -5px;
	width: 28px;
	height: 20px;
    background: none;
    color: #D62927;
    line-height: 2rem;
}

/*LISTA ORDENADA 9 - Lista abc dorada*/

.content .bck-ol9 li:before,
.cke_contents .bck-ol9 li:before {
    content: counter(bck-li-counter, lower-alpha) ")";
    top: 0;
	left: -5px;
	width: 28px;
	height: 20px;
    background: none;
    color: #ECB700;
    line-height: 2rem;
}

/*LISTA DESORDENADA POR DEFECTO*/

.texto_curso ul li:before,
 .workspace ul li ul li:before,
  .cke_contents ul li:before {
    width: 8px;
    height: 8px;
    background-color: #414141;
    margin-top: 9px;
}

/*LISTA DESORDENADA 1*/

.texto_curso .bck-ul1 li:before,
 .workspace ul li .bck-ul1 li:before,
  .cke_contents .bck-ul1 li:before {
    background-color: #44913A;
}





/*Énfasis 1 - 6 - Cambio de colores*/

.bck-enfasis-1 {
    color: #44913A;
    font-weight: bold;
}

.bck-enfasis-2 {
    color: #338DBA;
    font-weight: bold;
}

.bck-enfasis-3 {
    color: #DC4739;
    font-weight: bold;
}

.bck-enfasis-4 {
    color: #5EBDC4;
    font-weight: bold;
}

.bck-enfasis-5 {
    color: #ED7E33;
    font-weight: bold;
}

.bck-enfasis-6 {
    color: #ECB700;
    font-weight: bold;
}

/*Énfasis 7 - Cambia de color por tag*/

.bck-enfasis-7 {
    background: #44913a;
    padding: 8px;
    color: white;
}

/*Énfasis 8 - Cambia de color por tag*/

.bck-enfasis-8 {
    background: white;
    padding: 8px;
    color: #44913A;
    -webkit-box-shadow: 1px 5px 7px 0px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 1px 5px 7px 0px rgba(0, 0, 0, 0.32);
	box-shadow: 1px 5px 7px 0px rgba(0, 0, 0, 0.32);
}

/*Desplegable*/


 .bck-dropdown-button {
    background: rgb(68,145,58);
    background: -moz-linear-gradient(180deg, rgba(68,145,58,1) 0%, rgba(134,189,80,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(68,145,58,1) 0%, rgba(134,189,80,1) 100%);
    background: linear-gradient(180deg, rgba(68,145,58,1) 0%, rgba(134,189,80,1) 100%);
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: fit-content;
    padding: 8px 92px 0px 16px;
    font-size: 18px;
}

 .bck-dropdown-icon>.fa {
    display: inline-block;
    border: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 7px;
    width: 100%;
    height: 100%;
    text-align: center;
}

 .bck-dropdown-content {
    overflow-y: auto;
    display: none;
    max-height: 300px;
    padding: 10px;
    background-color: white;
    border: 4px solid rgba(134,189,80,1);
}

 .bck-dropdown-titulo {
    font-size: 18px;
}

/*Flipbox*/

body:not(.edit) .bck-flipbox-face.front,
 body:not(.edit) .bck-flipbox-face.back {
    border-color: #4d973d;
}

body:not(.edit) .front .bck-flipbox-title,
 body:not(.edit) .front .bck-flipbox-section {
    color: #81ba4f;
}

body:not(.edit) .bck-flipbox-face.back {
    background-color: #4d973d;
}

/*POPUP*/

 .info-template.shown {
    width: 150px;
    background: white;
    border: 2px solid #14799b;

}

 .info-template .info-title {
    color: #006E92;
}

 .info-template .info-icon {
    display: none;
}

 .info-popover .popover-title:before, .popover-template .popover-title:before {
    display: none;
}

 .info-popover .popover-title, .popover-template .popover-title {
    background: white;
    color: #037093;
    font-weight: bold;
}

 .popover-container {
    border: 3px solid #037093;
}

/*Tablas*/

.bck-table td, th {
    padding: 8px;
}

.bck-table.bck-table-1 td,
 .bck-table.bck-table-1 th {
    border: 2px solid #5ba042;
}

.bck-table.bck-table-2 td,
 .bck-table.bck-table-2 th {
    border: 2px solid #338DBA;
}

.bck-table.bck-table-3 td,
 .bck-table.bck-table-3 th {
    border: 2px solid #ECB700;
}

.bck-td-1 {
    background: #5ba042;
    color: white;
}

.bck-td-2 {
    background: #5ba04269;
}

.bck-td-3 {
    background: #338DBA;
    color: white;
}

.bck-td-4 {
    background: #338dba73;
}

.bck-td-5 {
    background: #ECB700;
    color: white;
}

.bck-td-6 {
    background: #ecb70059;
}






/* Icons */

#actividad .player.audio {
	background: url(images/Icon_audio.png) center center / cover;
}

.item-container .icon:before {
	content: "";
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	   -moz-background-size: auto 100%;
	     -o-background-size: auto 100%;
	        background-size: auto 100%;
	background-position: center center;
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	width: 54px;
	margin-top: -16px;
}



/* Forms */

.content_type_clase_santillanapt .slide_main input,
.content_type_clase_santillanapt .slide_main .img-input-container {
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
       -moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
    		box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
    border: 0px solid #ccc;
    border-bottom: 2px solid #44913a;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
    		border-radius: 0px;
}

.content_type_clase_santillanapt .slide_main .fill-text .img-input-container {
    display: none;
}

.content_type_clase_santillanapt .slide_main input:focus,
.content_type_clase_santillanapt .slide_main .img-input-container:focus {
	border: 1px solid #ccc;
    border-top-color: #44913a;
    border-right-color: #44913a;
    border-bottom-color: #44913a;
    border-left-color: #44913a;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
}


/*Ajuste general a slides (Revisar)*/
#actividad .workspace {
   margin-left: 0px;
}

/* --------- Slides ----------------- */

img.Wirisformula {
    margin-top: -20px;
}

.workspace.fillblanks.frame.fill-text {
    padding: 0px;
}

#actividad .workspace.multiple-choice .opcion,
#actividad .workspace.matching .opciones .opcion:not(.ko):not(.ok),
#actividad .workspace.ordenar .js-rank-item {
    border-width: 2px;
    border-color: #44913a;
    border-style: solid;
    background: #fff;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    padding: 11px;
}

#actividad .workspace.ordenar .js-rank-item:hover {
    transform: scale(1.1);
    background-color: #44913a3d;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
}

#actividad .workspace.matching .opciones .opcion.emparejado.destino {
    border-width: 2px 2px 2px 0;
}

#actividad .workspace.matching .opciones .opcion.emparejado.origen {
    border-width: 2px 0 2px 2px;
}

#actividad .workspace.clasificar .clasificar_lista .classify-item {
    border: 0px solid #d8d8d8;
}

#actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 2px solid #10A0C6;
    padding-top: 10px;
}

.fillblanks-draggable-wrapper .response {
    border: 0px solid #d8d8d8;
    background: #c1e5f7;
}

.fillblanks-draggable-wrapper .response .bck-i-fullscreen-wrapper {
    padding: 0;
}

body.content_type_clase_santillanapt #actividad .content .fillblanks-draggable-wrapper
.response .bck-i-fullscreen,
body.content_type_clase_santillanapt #actividad .content .fillblanks-draggable
.img-input-container.imgFilled img {
	width: auto;
	height: 100px !important;
	padding: 0;
}

/*Sopa de letras*/

.rf-tgrid {
    height: 26px;
    width: 26px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 24px;
    border: 1px solid #d8d8d8;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

/*Verdadero o falso*/

.checkbox-option label.filter-label, .checkbox-option label.filter-label-append, .radio-option label.filter-label {
    -moz-user-select: none;
    font-size: 18px;
    font-weight: normal;
    margin-top: 9px;
}

.workspace.true-false {
    margin-left: 28px !important;
}

/* Texto a imagen*/

#actividad .workspace.drag-and-drop {
    position: relative;
    margin-left: 28px;
}

/*Elegir respuesta*/

#actividad .workspace.multiple-choice .opcion.respuesta_checked {
    border-color: #44913a;
    background-color: #44913a3d;
}

#actividad .workspace.multiple-choice .opcion,
 #actividad .workspace.matching .opciones .opcion:not(.ko):not(.ok),
  #actividad .workspace.ordenar .js-rank-item {
    background: #fff;
    border: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#actividad .workspace.multiplechoice_horizontal .opcion:hover {
    background: #44913a3d;
    transform: scale(1.1);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Area de respuesta*/

.shortanswer-container textarea:focus, .shortanswer-container input:focus, .shortanswer-container .preview:focus {
    -webkit-box-shadow: 0 0 2px #3ac62a;
    -moz-box-shadow: 0 0 2px #3ac62a;
    box-shadow: 0 0 2px #44913a;
    border-color: #44913a;
}

/*Rellenar espacios*/

.fillblanks-draggable-wrapper .response:hover {
    background: #44913a3d;
    transform: scale(1.1);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
}

.fillblanks-draggable-wrapper .response {
    background: #ffffff;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
}

.content_type_clase_santillanapt .slide_main input[disabled], .content_type_clase_santillanapt .slide_main input[readonly], fieldset[disabled] .content_type_clase_santillanapt .slide_main input, .content_type_clase_santillanapt .slide_main .img-input-container {
    background-color: #fff;
}

/*Espacio Slides concatenadas*/

#actividad .slide-concatenate .class_slide {
    padding-bottom: 20px;
    padding-top: 0px;
}

/*Botones*/

.btn-danger, .btn-danger[disabled] {
    color: #fc4237;
    background-color: #ffffff;
    border-color: #fc4237;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.btn-danger:hover, .btn-danger:focus,
 .btn-danger:active, .btn-danger.active,
  .open .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #db3228;
    border-color: transparent;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.btn-primary[disabled],
 .btn-primary[disabled]:focus {
    color: #3ac62a;
    background-color: #ffffff;
    border-color: #3ac62a;
    border-radius: 0;
        transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.btn-primary, .btn-primary.disabled,
 .btn-primary.disabled:hover,
  .btn-primary.disabled:focus {
    color: #3ac62a;
    background-color: #ffffff;
    border-color: #3ac62a;
    border-radius: 0;
    opacity: 1;
        transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

#actividad .content .review .attemps span {
    color: #ffffff;
    background-color: #3ac62a;
    -webkit-border-radius: 0%;
    border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
    border: 1px solid #3ac62a;
}

.btn-solution, .btn-solution.disabled,
 .btn-solution[disabled], .btn-next,
  .btn-next.disabled, .btn-next[disabled] {
    color: #00bdff;
    background-color: #ffffff;
    border-color: #00bdff;
    -webkit-border-radius: 0%;
    border-radius: 0%;
    -moz-border-radius: 0%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.btn-solution:hover, .btn-solution:focus,
 .btn-solution:active, .btn-next:hover,
  .btn-next:focus, .btn-next:active,
   .open .dropdown-toggle.btn-solution {
    color: #fff;
    background-color: #00bdff;
    border-color: transparent;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}


/*NAVBAR COLORES*/

.unittag_santillanaportugalciencias .navbar-bottom {
    background: #13270e;
    padding-left: 100px;
    padding-right: 100px;
}

.unittag_santillanaportugalciencias #bottom-navigator li.active {
    background: #85bc50;
}

.unittag_santillanaportugalciencias #bottom-navigator li:hover {
    background: rgb(216, 243, 195);
}


.unittag_santillanaportugalportugues .navbar-bottom {
    background: #402d00;
    padding-left: 100px;
    padding-right: 100px;
}

.unittag_santillanaportugalportugues #bottom-navigator li.active {
    background: #ecb700;
}

.unittag_santillanaportugalportugues #bottom-navigator li:hover {
    background: #f5eac5;
}



/**** CSS MATEMÁTICAS ****
.unittag_santillanaportugalmates */

/*HEADER*/

.unittag_santillanaportugalmates.content_type_clase_santillanapt #actividad .content .header .title {
    background: rgb(65,155,209);
background: -moz-linear-gradient(180deg, rgba(65,155,209,1) 0%, rgba(138,190,226,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(65,155,209,1) 0%, rgba(138,190,226,1) 100%);
background: linear-gradient(180deg, rgba(65,155,209,1) 0%, rgba(138,190,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#419bd1",endColorstr="#8abee2",GradientType=1);
}

.unittag_santillanaportugalmates .ficha {
    display: inline;
    background: #BD0925;
    padding: 0px 11px;
    border-radius: 11%;
    border: 3px solid white;
    font-size: 37px;
    font-weight: bold;
    font-family: Arial,sans-serif;
}

.unittag_santillanaportugalmates.content_type_clase_santillanapt #actividad .content .header .title h3 {
    font-weight: bold;
    font-size: 36px;
    text-align: left;
}

/*Rellenar espacios*/

.unittag_santillanaportugalmates.content_type_clase_santillanapt .slide_main input:focus, .content_type_clase_santillanapt .slide_main .img-input-container:focus {
    border: 1px solid #338dba;
    border-top-color: #338dba;
    border-right-color: #338dba;
    border-bottom-color: #338dba;
    border-left-color: #338dba;
}

.unittag_santillanaportugalmates.content_type_clase_santillanapt .slide_main input, .content_type_clase_santillanapt .slide_main .img-input-container {
    border: 1px solid #8abee2;
    border-bottom: 1px solid #8abee2;
    vertical-align: top;
}


/*RESPUESTA MULTIPLE*/

.unittag_santillanaportugalmates #actividad .workspace.multiplechoice_horizontal .opcion:hover {
    background: #178ff51c;
}

.unittag_santillanaportugalmates #actividad .workspace.multiple-choice .opcion.respuesta_checked {
    border-color: #178ff51c;
    background-color: #178ff51c;
}

/*Lista ordenada 4*/

.unittag_santillanaportugalmates .content .bck-ol4 li:before,
.unittag_santillanaportugalmates .cke_contents .bck-ol4 li:before {
    color: #338DBA;
}

/*LISTA DESORDENADA 1*/

.unittag_santillanaportugalmates .texto_curso .bck-ul1 li:before,
.unittag_santillanaportugalmates .workspace ul li .bck-ul1 li:before,
.unittag_santillanaportugalmates .cke_contents .bck-ul1 li:before {
    background-color: #338DBA;
}


/*Título 1*/
.unittag_santillanaportugalmates .bck-title1 {
    color: #338DBA;
}

/*Titulo 2*/

.unittag_santillanaportugalmates .bck-title2 {
	color: #338DBA;
}

/*Enfasis 2*/

.unittag_santillanaportugalmates .bck-enfasis-2 {
    background: #338DBA;
}

/*Caja 1*/

.unittag_santillanaportugalmates .bck-box.bck-box1 {
	border-color: #338DBA; 
}


/* Caja 2 */

.unittag_santillanaportugalmates .bck-box.bck-box2 {
    border-color: #338DBA;
}

.unittag_santillanaportugalmates .bck-box.bck-box2 .bck-title {
    background: #338DBA;
}


/*Desplegable*/

.unittag_santillanaportugalmates .bck-dropdown-button {
    background: rgb(65,155,209);
    background: -moz-linear-gradient(180deg, rgba(65,155,209,1) 0%, rgba(138,190,226,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(65,155,209,1) 0%, rgba(138,190,226,1) 100%);
    background: linear-gradient(180deg, rgba(65,155,209,1) 0%, rgba(138,190,226,1) 100%);
}

.unittag_santillanaportugalmates .bck-dropdown-content {
	border-color: rgba(138,190,226,1);
}

/*Flipbox*/

body:not(.edit).unittag_santillanaportugalmates .bck-flipbox-face.front,
 body:not(.edit).unittag_santillanaportugalmates .bck-flipbox-face.back {
    border-color: #63acd9;
}

body:not(.edit).unittag_santillanaportugalmates .front .bck-flipbox-title,
 body:not(.edit).unittag_santillanaportugalmates .front .bck-flipbox-section {
    color: #63acd9;
}

body:not(.edit).unittag_santillanaportugalmates .bck-flipbox-face.back {
    background-color: #63acd9;
}


/**** CSS PORTUGUES ****
.unittag_santillanaportugalportugues */

/*Header*/

.unittag_santillanaportugalportugues.content_type_clase_santillanapt #actividad .content .header .title {
 background: #e59f00; /* Old browsers */
background: -moz-linear-gradient(top, #e59f00 0%, #f2c900 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e59f00 0%,#f2c900 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e59f00 0%,#f2c900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e59f00', endColorstr='#f2c900',GradientType=0 );
}

.unittag_santillanaportugalportugues .ficha {
    display: inline;
    background: transparent;
    padding: 0px 18px;
    border-radius: 11%;
    border: 3px solid white;
    font-size: 55px;
    font-weight: bold;
    font-family: Arial,sans-serif;
    box-shadow: none;
    color: white;
}

.unittag_santillanaportugalportugues.content_type_clase_santillanapt #actividad .content .header .title h3 {
    font-weight: bold;
    font-size: 36px;
    text-align: left;
}

.unittag_santillanaportugalportugues .unidade {
    display: inline;
    font-size: 34px;
    font-weight: bold;
    color: #fff;
    margin-left: 5px;
}

/*Título 1*/

.unittag_santillanaportugalportugues .bck-title1 {
	color: #F6B645;
}

/*Titulo 2*/

.unittag_santillanaportugalportugues .bck-title2 {
	color: #F6B645;
}

/*CAJA 1*/

.unittag_santillanaportugalportugues .bck-box1 {
    border-color: #ecb700;
}

/*CAJA 2*/


.unittag_santillanaportugalportugues .bck-box.bck-box2 {
    border-color: #ECB700;
}

.unittag_santillanaportugalportugues .bck-box.bck-box2 .bck-title {
    background: #ECB700;
}

/*Enfasis 2*/

.unittag_santillanaportugalportugues .bck-enfasis-2 {
    background: #ECB700;
}

/*Lista ordenada 4*/

.unittag_santillanaportugalportugues .content .bck-ol4 li:before,
.unittag_santillanaportugalportugues .cke_contents .bck-ol4 li:before {
    color: #ECB700;
}

/*LISTA DESORDENADA 1*/

.unittag_santillanaportugalportugues .texto_curso .bck-ul1 li:before,
.unittag_santillanaportugalportugues .workspace ul li .bck-ul1 li:before,
.unittag_santillanaportugalportugues .cke_contents .bck-ul1 li:before {
    background-color: #ECB700;
}

/*Desplegable*/

.unittag_santillanaportugalportugues .bck-dropdown-button {
    background: #e59f00;
    background: -moz-linear-gradient(top, #e59f00 0%, #f2c900 100%);
    background: -webkit-linear-gradient(top, #e59f00 0%,#f2c900 100%);
    background: linear-gradient(to bottom, #e59f00 0%,#f2c900 100%);
}

.unittag_santillanaportugalportugues .bck-dropdown-content {
	border-color: #f2c900;
}

/*Flipbox*/

body:not(.edit).unittag_santillanaportugalportugues .bck-flipbox-face.front,
 body:not(.edit).unittag_santillanaportugalportugues .bck-flipbox-face.back {
    border-color: #e59f00 ;
}

body:not(.edit).unittag_santillanaportugalportugues .front .bck-flipbox-title,
 body:not(.edit).unittag_santillanaportugalportugues .front .bck-flipbox-section {
    color: #e59f00 ;
}

body:not(.edit).unittag_santillanaportugalportugues .bck-flipbox-face.back {
    background-color: #e59f00 ;
}

/*POPUP*/
.unittag_santillanaportugalportugues .info-template .info-title {
    color: #006E92;
}

.unittag_santillanaportugalportugues .info-popover .popover-title, .popover-template .popover-title {
    color: #037093;
}

.unittag_santillanaportugalportugues .popover-container {
    border-color: #037093;
}

.unittag_santillanaportugalportugues #actividad .workspace.test .respuestas li:hover {
    background: #ecb70033;
}


/*COLOR TEST*/

.unittag_santillanaportugalportugues .checkbox-option label.filter-label:before, .unittag_santillanaportugalportugues .slides_averages #cont_checkSelfCorrect label:before, .unittag_santillanaportugalportugues .slides_averages #cont_checkEvaluation label:before, .unittag_santillanaportugalportugues .radio-option label.filter-label:before {
    filter: hue-rotate(-41deg);
}

/*RELLENAR ESPACIOS*/

.unittag_santillanaportugalportugues.content_type_clase_santillanapt .slide_main input:focus, .content_type_clase_santillanapt .slide_main .img-input-container:focus {
    border: 1px solid #ccc;
    border-top-color: #ecb700;
    border-right-color: #ecb700;
    border-bottom-color: #ecb700;
    border-left-color: #ecb700;
}


.unittag_santillanaportugalportugues.content_type_clase_santillanapt .slide_main input, .content_type_clase_santillanapt .slide_main .img-input-container {
    border: 1px solid #ccc;
    border-bottom: 2px solid #ecb700;
}

.unittag_santillanaportugalportugues #actividad .workspace.multiplechoice_horizontal .opcion:hover {
    background: #ecb70033;
}

.unittag_santillanaportugalportugues #actividad .workspace.multiple-choice .opcion.respuesta_checked {
    border-color: #ecb70033;
    background-color: #ecb70033;
}

.unittag_santillanaportugalportugues .shortanswer-container textarea:focus, .shortanswer-container input:focus, .shortanswer-container .preview:focus {
    -webkit-box-shadow: 0 0 2px #ecb700;
    -moz-box-shadow: 0 0 2px #ecb700;
    box-shadow: 0 0 2px #ecb700;
    border-color: #ecb700;
}

/*ORDENAR PALABRAS*/

.unittag_santillanaportugalportugues #actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 2px solid #ecb700;
    padding-top: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.unittag_santillanaportugalportugues #actividad .workspace.clasificar .clasificar_conjuntos .classify-item {
    background-color: #ecb700;
    padding: 3px;
}

.unittag_santillanaportugalportugues #actividad .workspace.clasificar .clasificar_lista .classify-item {
    background: white;
    transform: scale(1.0);
    transition: transform, margin 0.2s;
    -webkit-transition: transform, margin 0.2s;
    -moz-transition: transform, margin 0.2s;
    width: fit-content;
    width: -moz-fit-content;
}

.unittag_santillanaportugalportugues #actividad .workspace.clasificar .clasificar_lista .respuesta_over {
    background: #ecb70033;
    transform: scale(1.1);
    transition: transform, margin 0.2s;
    -webkit-transition: transform, margin 0.2s;
    -moz-transition: transform, margin 0.2s;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0px 10px;

}


/* Smartphones (portrait & landscape) */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

   .unittag_santillanaportugalmates.content_type_clase_santillanapt .slide_main {
    padding: 0px 20px 0px 58px;
}

.unittag_santillanaportugalmates.content_type_clase_santillanapt #actividad .content .header .title h3 {
    font-size: 22px;
}

.unittag_santillanaportugalmates .ficha {
    font-size: 22px;
}

.unittag_santillanaportugalmates.content_type_clase_santillanapt #actividad .content .header .title {
    padding: 24px 22px;
}

.unittag_santillanaportugalportugues.content_type_clase_santillanapt #actividad .content .header .title {
    padding: 20px 10px;
}

.unittag_santillanaportugalportugues .unidade {
    font-size: 34px;
}

.unittag_santillanaportugalportugues .ficha {
    font-size: 42px;
}
}

/*AJUSTE PARA FONDO EN SLIDE CON FONDO*/

@media screen and (max-width: 1023px) {

.unittag_santillanaportugalportugues #actividad .carousel-inner .item-container.aux-fullscreen, #actividad .carousel-inner .item-container.aux-bckg {
    padding-left: 0px;
}
}


/*QUERIES*/

@media only screen and (max-width: 640px) {
.logo-publisher {
    width: 45px;
    background: url(/useruploads/r/a/146502386/activity_other_imported/logo-santillana_demoportugal_movil.png);
    background-size: 28px;
    background-repeat: no-repeat;
}
}

/* Smartphones (portrait & landscape) */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    .content_type_clase_santillanapt #actividad .content .header .title h3 span {
    text-align: center;
    line-height: 27px;
    padding-bottom: 20px;
}

.content_type_clase_santillanapt #actividad .content .header .title h3 {
    text-align: left;
}
.content_type_clase_santillanapt #actividad .content .header .title {
    padding: 18px;
}

}


/*---------------------------------------------PRUEBA IMAGEN FONDO--------------------------------------------*/

#actividad .carousel-inner .seccionazul .item-container {
    background-image: url(/useruploads/r/a/146261466/activity_other_imported/Fondo_UD1_Santillana-Portuga_2l.jpg);
    margin: 20px auto 30px;
    /* padding: 0px; */
    padding-bottom: 90px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------------------PRUEBA IMAGEN FONDO SECCIONMARRON--------------------------------------------*/

#actividad .carousel-inner .seccionmarron .item-container {
    background-image: url(/useruploads/r/a/146870856/activity_other_imported/fondo_vela_santillanaportugal.jpg);
    margin: 20px auto 30px;
    /* padding: 0px; */
    padding-bottom: 90px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
